html {
  box-sizing: border-box;

}
  *, *:after, *:before
  {box-sizing: inherit}

#whole_enchilada {
/*background-image:url(../images/tiki.jpg);
background-size: cover;*/
	background-color:  #6699cc;
	width: 100%;
}

#header {
	width:100%;
	height: 130px;
	background-color: #6699cc;
	position: relative;
}

.logo {
	background-image: url(../images/Logo.png);
	background-size: cover;
	width: 140px;
	height: 130px;
	margin-left: 160px;
}

.socialmedia {
	height: 35px;
	width: 150px;
	margin-left: 973px;
	background-color: transparent;
	margin-top: -65px;

}
.social {
	list-style: none;
	display: flex;
	justify-content: space-around;
	font-size: 30px;
	padding-left: 0px;
}
.ot {
	height:25px;
	width:25px;
}

.mainimage {
	height:200px;
	width:75%;
	margin-bottom: 20px;
	background-image: url(../images/coopers_hawk4.jpg);
	margin:auto;
	background-repeat: no-repeat;
	background-size: 100% 200px;	
}

#feeds {
	flex-wrap: wrap;
	width: 70%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	margin:auto;
	background-color:  #6699cc	
	margin-top:10px;
}

.feedContainer {
	height:350px;
	width: 50%;
	margin:auto;
}


.newsfeed, .todaysSpecial, .location, #w3-content {
	border: 1px solid #bbb;
	height:250px;
	width: 70%;
	margin-top: 20px;
}

#w3-content img {
	max-width:100%;
	max-height:250px;
}

.todaysSpecial {
	margin: auto;
	padding: 0px 10px 0px;
}

.specialPrice {
	list-style: none;
	display: flex;
	flex-direction: wrap;
}
.specialPrice > li {
	font-size: 12px;	
}

.description {
	margin-top: 135px;
	margin-left: 15px;
}

.indicators {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.indicators > li {
	font-size: 10px;
	margin-left:-50px;
}

#w3-content {
	margin-left: 65px;
	margin-top: 10px
}

.location {
	margin-left: 65px;
}

.location > h5 {
	text-align: center;
}

.map {
	margin-left:20px;
	margin-top: 10px;
}
.newsfeed {
	display: block;
    display: -webkit-box;
    max-width: 380px;
    height: 250px;
    font-size: 12px;
    line-height: 1.4;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:65px;
}

.newsfeed > p, h2 {
	margin: 15px 20px 0px;
}

.feedSection {
	margin-left: 140px;
}

.feedSectionSpecial {
	margin-left: 100px;
}

#tabs {
	width:70%;
	background-color: #6699cc;
}

.etabs {
	list-style: none;
	display:flex;
	text-decoration: none;
	
}

.etabs { 
	margin: 0; 
	padding: 0; 
	margin-left: 250px;
}

.tab {
	margin-right: 20px;
}

.tab { 
	display: inline-block; zoom:1; 
	*display:inline;
 	background:  #6699cc; 
	border: solid 1px  #bbb ; 
	-moz-border-radius: 4px 4px 0 0;
 	-webkit-border-radius: 4px 4px 0 0; 

 }

.tab a { 
	font-size: 14px;
 	line-height: 2em; 
	display: block; 
	padding: 0 10px;
	outline: none; 
	text-decoration: none;
	color: black;
}

.tab:hover { 
	text-decoration:underline;

}

.tab.active {
	background: #6699cc; 
	padding-top: 6px; 
	position:
 	relative; 
	top: 1px; 
	border-color: #666; 
}

.tab a.active { 
	font-weight: bold; 
}

.tab-container  { 
	background: #6699cc;
 	padding: 10px;
 	-moz-border-radius:
 	0 4px 4px 4px; 
	-webkit-border-radius: 	
	0 4px 4px 4px; 
	margin-left: 234px;

}

.tabtitle {
	margin: 50px 0px 30px 300px;
}

.tabtitlestory {
	margin: 50px 0px 30px 340px;
}


#tabs1-menu {
	width: 800px;
	background-color: #c6d8eb;
}

#tabs1-ourstory 	{
	width: 800px;
	background-color: #c6d8eb;
	margin-top: -30px;
}

#tabs1-ourstory p {
	margin-left: 20px;
	font-size: 13px;
	padding-bottom: 20px;
}

#tabs1-ourstory img {
	margin-left: 120px;

}

.menuSelections {
	text-align: center; 
}
.sections {
	border-bottom: .5px solid #666;
}
.menuDisplay {
	list-style: none;
	display: flex;	
}

.menuDisplay > li {
	font-size: 16px;

}

.foodTitle {
	font-size: 14px;
	font-family: serif;
	margin-left: 0px;
	font-weight: bold;
}
.about {
	font-size: 12px;
	font-family: serif;
	margin-right: 10px;
}

.thefood {
	word-wrap: break-word;
	font-size: 13px;
	width:480px;
	margin-left: 40px;

}

.symbolsApps {
	margin-top:-110px;
	padding-top: 30px;
	list-style: none;
	display: flex;
	font-size: 12px;
	margin-left: 650px;
	border-left: .5px solid #666;
	height: 110px;
}

.symbolsEntrees {
	margin-top: -70px;
	padding-top: 15px;
	list-style: none;
	display: flex;
	font-size: 12px;
	margin-left: 650px;
	border-left: .5px solid #666;
	height: 70px;
}

.symbolsSides {
	margin-top: -40px;
	list-style: none;
	display: flex;
	font-size: 12px;
	margin-left: 650px;
	border-left: .5px solid #666;
	height: 30px;
}
#tabs1-reservations {
	width: 800px;
	background-color: #c6d8eb;
	margin-top: -30px;
	height: 570px;
}
.reserve {
	text-align: center;
	margin-left: 200px;	
	width: 400px;
	height: 480px;	
	background-color: #6699cc;
}

label {
	display: block;
}
.reserve >label  {
	text-align: left;
	font-size: 13px;
}

.reserve >input {
	margin-left: -225px;
	margin-top: 5px;
	font-size: 13px;
}
.reserve > textarea {
	margin-left: -131px;
	margin-top: 5px;	
}

.reserve > select {
	margin-left: -165px;
	margin-top:5px;
}

#button {
	margin-top: 20px;
}
